@import "tailwindcss";

@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));

  --color-card: hsl(var(--card));
  --color-text: hsl(var(--text));
  --color-text-light: hsl(var(--text-light));
  --animate-float: float 6 ease-in-out infinite;
}

@layer base {
  @font-face {
    font-family: "circular-web";
    src: url(./fonts/circularweb-book.woff2) format("woff2");
  }

  @font-face {
    font-family: "general";
    src: url(./fonts/general.woff2) format("woff2");
  }

  @font-face {
    font-family: "robert-regular";
    src: url(./fonts/robert-regular.woff2) format("woff2");
  }

  @font-face {
    font-family: "zentry-regular";
    src: url(./fonts/zentry-regular.woff2) format("woff2");
  }

  :root {
    --primary: 47, 100%, 50%;
    --secondary: 207, 82%, 98%;
    --background: 210 90% 98%;
    --text: 211, 29%, 25%;
    --text-light: 211, 15%, 43%;
    --border: 210 20% 95%;
    --card: 0 0% 100%;
  }

  .dark {
    --background: 210 20% 10%;
    --text: 210 20% 90%;
    --text: 210 20% 90%;
    --primary: 249, 66%, 62%;
    --secondary: 247, 100%, 96%;
    --border: 210 20% 30%;
    --card: 210 20% 13%;
  }

  /* * {
    @apply box-border;
  } */

  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-foreground;
    font-family: "circular-web", "general", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "rlig" 1, "clig" 1, "calt" 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes role-change {
  10% {
    transform: translateY(-102%);
  }
  20% {
    transform: translateY(-100%);
  }
  30% {
    transform: translateY(-202%);
  }
  40% {
    transform: translateY(-200%);
  }
  50% {
    transform: translateY(-302%);
  }
  60% {
    transform: translateY(-300%);
  }
  70% {
    transform: translateY(-402%);
  }
  80% {
    transform: translateY(-400%);
  }
  90% {
    transform: translateY(-502%);
  }
  100% {
    transform: translateY(-500%);
  }
}

.text-changer {
  height: 5rem;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  color: hsl(var(--foreground));
  font-family: circular-web, "general", sans-serif;
  font-weight: 500;
  box-sizing: content-box;
}

.intro-text {
  margin-top: -2px;
}

.roles-container {
  position: relative;
  overflow: hidden;
  height: 5rem;
}

.role {
  display: block;
  height: 100%;
  padding-left: 6px;
  animation: role-change 15s ease infinite;
}

@utility animation-appear {
  animation: appear 0.5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 5px hsl(var(--foreground)), 0 0 10px hsl(var(--foreground));
}

@utility card-hover {
  @apply transition-transform duration-300 ease-in-out hover:scale-[1.02] hover:shadow-lg;
}

@utility card {
  @apply bg-card border-border rounded-lg shadow-md p-4;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
